.hero {
    //background-image: url("../images/background/cherry_blossom.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Biryani', sans-serif;
    &__presentation {
        display: flex;
        flex-direction: column;
        width: 532px;
        height: 253px;
        & h1 {
            font-size: 96px;
            font-weight: bold;
            -webkit-text-stroke: 2px $PrimaryColor;
            -webkit-text-fill-color: $SecondaryColor;
        }
        & h2 {
            font-size: 48px;
            font-weight: bold;
            -webkit-text-stroke: 2px $PrimaryColor;
            -webkit-text-fill-color: $PrimaryColor;
        }
        & h3 {
            font-size: 32px;
            font-weight: bold;
            -webkit-text-stroke: 2px $SecondaryColor;
            -webkit-text-fill-color: $TercetColor;
        }
    }
}
.division {
    margin-top: 8%;
    width: 495px;
    height: 48px;
    background-color: $PrimaryColor;
}
