h4  {
    font-size: 36px;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 2px $SecondaryColor;
    -webkit-text-fill-color: $TercetColor;
    letter-spacing: 2px;
    text-align: center;
}
.projet {
    border: 1px solid blue;
    padding: 5%;
    display: flex;
    flex-direction: column;
    &__cards {
        &__card {
            border :1px solid red;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 1206px;
            &__text {
                // border: 1px solid brown;
                display: flex;
                font-family: 'Karla', sans-serif;
                font-weight: bold;
                font-size: 40px;
                -webkit-text-stroke: 2px $PrimaryColor;
                letter-spacing: 2px;
                position: relative;
                z-index: 1;
                &--title {
                    border: 1px solid orange;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    writing-mode: vertical-lr;
                    text-orientation: sideways-left;
                    position: absolute;                   
                }
                &--subtitle{
                    border: 1px solid green;
                    justify-content: space-between;
                    writing-mode: vertical-lr;
                    position: absolute;
                }
                & img {
                    border: 1px solid violet;
                    width:594px;
                    height:611px;
                }
                & a {
                    display: flex;
                    text-decoration: none;
                    justify-content: space-evenly;
                    border: 1px solid purple;
                    padding: 5%;
                    font-family: 'Karla', sans-serif;
                    font-weight: bold;
                    font-size: 120px;
                    -webkit-text-stroke: 3px $PrimaryColor;
                    -webkit-text-fill-color: $TercetColor;
                    letter-spacing: 2px; 
                }
                & a:hover {
                    cursor: pointer;
                    -webkit-text-stroke: 2px $PrimaryColor;
                    -webkit-text-fill-color: $PrimaryColor;
                    letter-spacing: 2px;
        
                }
            }
            &__text :hover {
                cursor: pointer;
                -webkit-text-stroke: 2px $PrimaryColor;
                -webkit-text-fill-color: $PrimaryColor;
                letter-spacing: 2px;

            }
            & p {
                border: 1px solid black;
                width: 340px;
                height: 150px;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
}