.footer {
    display: flex;
    width: 33vw;
    justify-content: space-evenly;
    align-items: center;
    background-color: $PrimaryColor;
    padding: 5%;
    width: 1366px;
    overflow: hidden;

    & p { 
        font-family: 'Karla', sans-serif;
        font-size: normal;
        background-color: $PrimaryColor;
        color: $TercetColor;
    }
}