
@media screen and (max-width: 375px) {
    .footer {
        background-color: $PrimaryColor;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $TercetColor;
    }
    
}
@media screen and (max-width: 1475px) {
    .footer {
        display: flex;
        height: 20vh;
        justify-content: space-between;
        align-items: center;
        background-color: $PrimaryColor; 
    
        & p { 
            font-family: 'Karla', sans-serif;
            font-size: normal;
            background-color: $PrimaryColor;
            color: $TercetColor;
        }
    }

}