// MOBILE
@media screen and (max-width: 375px) {
    body {
        overflow-x: hidden;
        .header {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            text-decoration: none;
            align-items: center;
            color: $SecondaryColor;
            &__logo {
            display: flex;
            text-decoration: none;
            align-items: center;
            margin: 22%;
                & h1 {
                    width: 18vw;
                    font-family: 'Anton', sans-serif;
                    font-size: 44px;
                    font-weight: bold;
                    -webkit-text-stroke: 2px $SecondaryColor;
                    -webkit-text-fill-color: $TercetColor;
                }
            }
            &__nav a {
                text-decoration: none;
                align-items: center;
                
                & li {
                    z-index: 2;
                    color: $PrimaryColor;
                } 
            }
            &__nav-active {
                transform: translateX(0);
                opacity: 1;
            
            }
            &__burger {
                display: block;
                cursor: pointer;  
            }
        }                 
    }
}


//TABLETTE

@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        align-items: center;
        list-style: none;
        &__logo {
            text-decoration: none;
            & h1 {
                margin: 40% ; 
                font-family: 'Anton', sans-serif;
                font-weight: bold;
                font-size: 58px;
                
            }
        }


    }
}

// DESKTOP
@media screen and (max-width: 1366px) {
    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        text-align: center;
        


        &__logo {
            text-decoration: none;
            & h1{
                width: 4vw;
                font-family: 'Anton', sans-serif;
                font-weight: bold;
                margin: 50%;
                font-size: 58px;
                -webkit-text-stroke: 2px $SecondaryColor;
                -webkit-text-fill-color: $TercetColor;
            }
        }
        &__nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: 'Karla', sans-serif;
            font-size: normal;
            letter-spacing: 2px; 
            font-weight: bold;
            & a{
                
                text-decoration: none;
                font-size: 24px;
                font-weight: bold;
                justify-content: space-around;
                color: $TercetColor;
                -webkit-text-stroke: 2px $SecondaryColor;
                -webkit-text-fill-color: $TercetColor;
            }
            & a :hover {
                cursor: pointer;
                color: $SecondaryColor;
                -webkit-text-fill-color: $SecondaryColor;
            }

        }
    }
    
}


