@media (min-width: 375px) {
    .header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        &__logo {
            text-decoration: none;
            list-style: none;
            & a {
                font-size: 24px;
                --webkit-text-fill-color: $white;
                --webkit-text-stroke-color: $saumon;
            }
            & strong {
                font-size: 32px;
            }
        }
    }
}